.cart-section {
  flex-basis: 15rem;
}

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cart-item-quantity-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.decrease-quantity,
.cart-item-quantity,
.increase-quantity {
  width: 5rem;
}
